<li id="question-<%= question.id %>" class="question-partial d-flex">
  <div>
    <%= link_to get_gravatar_img(question.user, size: 50), question.user ,class:"d-inline" %>
  </div>
      <div class="w-100">
        <span class="user"><%= link_to question.user.name, question.user %></span>
        <%= link_to question, id:"#{question.id}-link" do %>
          <span class="content d-block">
            <% if question.solved? %>
              <span class="badge badge-success font-weight-normal">解決済!</span>
            <% end %>
            <p class="m-0 lead"><%= question.title %></p>
          </span>
          <span class="timestamp">
            <%= time_ago_in_words(question.created_at) %>前
          </span>
        <% end %>
        <% if current_user?(question.user) %>
          <%= link_to "投稿を削除" , question, method: :delete, class:"badge badge-danger font-weight-normal text-light ml-auto" ,data:{confirm:"この投稿を削除しますか？"} %>
        <% end %>
      </div>
</li>
<hr>
