<% set_full_title("#{@question.user.name}さんの質問") %>
<div class="row">
  <%= render 'shared/user_sidebar' %>
  <div class="question-show col-md-8">
    <div class="user">
      <%= link_to get_gravatar_img(@question.user, size: 35), @question.user,class:"d-inline" %>
      <span class="user"><%= @question.user.name %></span>
    </div>
    <h5 class="lead">
      <% if @question.solved? %>
        <span class="solved-badge badge badge-success">解決済!</span>
      <% end %>
      <%= @question.title %>
    </h5>
    <% @question.tag_list.each do |tag| %>
      <%= link_to tag, search_questions_path(tag_name: tag), class:"text-white badge badge-info" %>
    <% end %>
    <hr>
    <p><%= @question.content %></p>
    <!-- 主投稿の削除リンク -->
    <div class="d-flex justify-content-end align-items-center">
      <% if current_user?(@question.user) %>
          <%= link_to @question, method: :delete, class:"btn btn-raised btn-outline-danger ml-3" ,data:{confirm:"この投稿を削除しますか？"} do %>
            <span class="far fa-trash-alt"></span>
          <% end %>
      <% end %>
      <% #いいねボタン %>
      <div id="like-button" class="d-inline-block ml-3">
        <%= render partial:'likes/like' , locals:{question: @question,like:@like} %>
      </div>

      <% #解決済み質問にはコメント投稿できないようにする %>
      <% unless @question.solved? %>
        <a href="#" class="icon btn btn-raised btn-primary btn-large d-block text-right ml-3" data-toggle="collapse" data-target="#new-comment-form-parent-nil-<%=@question.id %>">
          <span class="fas fa-reply"></span> 返信
        </a>
      <% end %>
    </div>

  <div class="collapse" id="new-comment-form-parent-nil-<%= @question.id %>">
    <!-- 質問に対する返信のためフォームの返信元にはnilを入れておく。 -->
    <%= render 'comments/new_comment', parent: nil%>
  </div>
  <hr>
    <!-- コメントを表示する -->
    <%= render @comments %>

  </div>
</div>
