<% set_full_title("Log in") %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">ログイン</h5>
          <%= form_with(url: login_path, scope: :session, local: true, class: "form-signin") do |f| %>
            <div class="form-label-group">
              <%= f.label :email , "メールアドレス"%>
              <%= f.email_field :email , class: "form-control"%>
            </div>

            <div class="form-label-group">
              <%= f.label :password , "パスワード"%>
              <%= f.password_field :password , class: "form-control" %>
              <small class="mx-auto">パスワードを忘れた方は<%= link_to "こちら", new_password_reset_path %></small>
            </div>

            <%= f.label :remember_me, class:"checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>次回から自動でログインする</span>
            <% end %>

            <%= f.submit "ログイン", class:"btn btn-primary" %>

          <% end %>
          <p class="session-new-tologin">アカウントをお持ちでない方は<%=link_to "こちら", signup_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>