<% if comment.solved? %>
  <% #解決したスレのコメントなら背景色を変える %>
  <% cssclass="comment-partial bg-solved" %>
<% else %>
  <% #関係なければ普通の色 %>
  <% cssclass="comment-partial" %>
<% end %>
<div>
  <span class="d-block"></span>
  <%= content_tag :div, class:cssclass do %>
    <div>
      <span><i class="fas fa-angle-double-right"></i></span>
      <% #コメントするユーザーと質問の投稿者が同じで質問に対するレスならコメントと表示する %>
      <% if (comment.user == comment.question.user && comment.parent.nil?)%>
        <small>コメント</small>
      <% else %>
        <small>返信</small>
      <% end %>

    </div>
    <div class="user">
      <%= link_to get_gravatar_img(comment.user,size:35), comment.user,class:"d-inline" %>
      <span class="user"><%= comment.user.name %>
    </div>
    <p class="d-block w-100"><%= comment.content %></p>

    <div class="d-flex justify-content-end align-items-center">


      <% #コメントを削除するリンク %>
      <% if current_user?(comment.user) %>
          <%= link_to [comment.question,comment], method: :delete, class:"btn btn-outline-danger btn-raised ml-3" ,data:{confirm:"このコメントを削除しますか？"} do%>
            <span class="far fa-trash-alt"></span>
          <% end %>
      <% end %>
      <% #解決ボタン %>
      <% if current_user?(comment.question.user) && !comment.question.solved? %>
        <button type="button" class="btn btn-success btn-raised ml-3" data-toggle="modal" data-target="#modal<%=comment.id%>">
          解決!
        </button>
      <% end %>
      <% #返信できないユーザーには表示しない %>
      <% if correct_comment_user?(comment) %>
        <a href="#" class="icon btn btn-primary btn-raised d-block text-right ml-3" data-toggle="collapse" data-target="#new-comment-form-<%= comment.id %>">
        <span class="fas fa-reply"></span> 返信
        </a>
      <% end %>
    </div>

    <% #コメント用のフォーム parentにコメントする対象を入れておき親子関係作成に使う。%>
    <div class="collapse" id="new-comment-form-<%= comment.id %>">
      <%= render 'comments/new_comment', parent: comment %>
    </div>

    <% #ここに続くリプライがあればコレクションを渡して出力する %>
    <% if comment.replies.any? %>
      <% # もしparentが空（質問に対する返信の場合）はコメントの表示非表示ができる　%>
      <% if comment.parent.nil? %>
        <button class="btn-sm btn btn-raised btn-outline-primary" data-toggle="collapse" data-target="#replies-<%= comment.id %>" aria-expanded="false">
          返信を表示 +
        </button>
        <div class="collapse" id="replies-<%= comment.id %>">
          <%= render comment.replies %>
        </div>
      <% else %>
        <% #返信に対する返信はコメントの表示非表示はくどいのでしない　%>
        <%= render comment.replies %>
      <% end %>
    <% else %>
      <hr>
    <% end %>

  <% end %>
</div>



<% #モーダル %>
<div class="modal fade" id="modal<%=comment.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=comment.id%>ModalLabel">解決！</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>解答者へのお礼のメッセージや<br>解決に至った経緯などを書きましょう!(任意)</p>
        <%= form_with(model:[@question,@new_comment] ,url:solved_question_comments_path(@question), local:true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :content, "本文"%>
            <%= f.rich_text_area :content, class:"form-control", id:"form-#{comment.id}" ,placeholder:"質問の内容を2000文字以内で入力してください"%>
          </div>
          <%= f.hidden_field :question_id, value: @question.id %>
          <%= f.hidden_field :parent_id, value: comment.id %>
          <%= f.submit "送信", class:"btn btn-raised btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
//アコーディオン部分（返信の表示非表示）を表示切り替えするところ
  $('[data-target="#replies-<%= comment.id %>"]').click(function(){
    const collapse = $(this).attr('aria-expanded');
    if (collapse == "true") {
      $(this).text('返信を表示 +');
    } else if (collapse == "false"){
      $(this).text('返信を非表示 -');
    }
  })

</script>