<% #　新規コメントのフォーム %>
<%= form_with(model:[@question,@new_comment] , local:true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :content, "本文"%>
    <%= f.rich_text_area :content, class:"form-control",id:"form-#{parent}", placeholder:"コメントを入力してください"%>
  </div>
  <%= f.hidden_field :question_id, value: @question.id %>
  <% unless parent.nil? %>
    <%= f.hidden_field :parent_id, value: parent.id %>
  <% end %>
  <%= f.submit "送信", class:"btn btn-raised btn-primary" %>
<% end %>