<!--editとnewのパーシャル -->
          <h5 class="card-title text-center"><%= yield(:subtitle) %></h5>

          <%= form_with(model: @user, local: true , class: "form-signin") do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class = "form-label-group">
              <%= f.label :name , "ユーザー名"%>
              <%= f.text_field :name , class: "form-control" %>
            </div>

            <div class="form-label-group">
              <%= f.label :email , "メールアドレス"%>
              <%= f.email_field :email , class: "form-control"%>
            </div>

            <div class="form-label-group">
              <%= f.label :password , "パスワード"%>
              <%= f.password_field :password , class: "form-control" %>
            </div>

            <div class="form-label-group">
              <%= f.label :password_confirmation, "パスワード確認" %>
              <%= f.password_field :password_confirmation , class: "form-control" %>
            </div>

            <%= f.submit yield(:submit_text), class:"btn btn-primary" %>

          <% end %>