<% set_full_title("ユーザー情報編集") %>
<% provide(:subtitle, 'ユーザー情報編集') %>
<% provide(:submit_text, '更新') %>
<div class="container">
  <div class="row">
    <%= render 'shared/user_sidebar' %>
    <div class="col-md-8 mx-auto">
      <h5>ユーザー情報編集</h5>
      <div class="card card-signin my-5">
        <div class="card-body">
          <%= form_with(model:@user, local:true, class:"form-edit") do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
              <%= get_gravatar_img @user %>
              <%= f.label :user_icon , "アイコン画像"%>
              <%= f.file_field :user_icon, class:"form-control-file form-inline" ,accept: "image/jpeg,image/gif,image/png,image/tiff,image/heic", placeholder:"アイコン画像を選択"%>
            </div>
            <div class = "form-label-group">
              <%= f.label :name , "ユーザー名"%>
              <%= f.text_field :name , class: "form-control" %>
            </div>

            <div class="form-label-group">
              <%= f.label :profile, "プロフィール" %>
              <%= f.text_area :profile, class:"form-control" , placeholder:"プロフィール文を入力してください(最大500文字まで)" %>
            </div>
            <%= f.submit "送信", class:"btn btn-raised btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
