<%= set_full_title("フォロー一覧")%>
<div class="row">
  <%= render 'shared/user_sidebar' %>
  <div class="col-md-8">
    <h5 class="mb-3"><%= current_user.name %>がフォローしているユーザー　<%= current_user.following.count %>人</h5>
    <% #ボタン部分 %>
    <div class="w-100 row mb-3" role="group">
      <div class="col">
        <%= link_to "フォロー", followed_users_path , class:"btn btn-raised btn-outline-info d-block shadow-lg"%>
      </div>
      <div class="col">
        <%= link_to "フォロワー", follower_users_path, class:"btn btn-raised btn-info d-block" %>
      </div>
    </div>

    <ul class="users jscroll">
      <%= render @following_users %>
      <%= paginate @following_users %>
    </ul>
  </div>


</div>