<%= set_full_title("フォロワー一覧")%>
<div class="row">
  <%= render 'shared/user_sidebar' %>
  <div class="col-md-8">
    <h5 class="mb-3"><%= current_user.name %>のフォロワー　<%= @follower_users.count %>人</h5>
    <% #ボタン部分 %>
    <div class="w-100 row mb-3" role="group">
      <div class="col">
        <%= link_to "フォロー", followed_users_path, class:"btn btn-info d-block" %>
      </div>
      <div class="col">
        <%= link_to "フォロワー", follower_users_path, class:"btn btn-outline-info d-block shadow-lg" %>
      </div>
    </div>

    <ul class="users jscroll">
      <%= render @follower_users %>
      <%= paginate @follower_users %>
    </ul>
  </div>


</div>