<nav class="col-md-3 d-md-block collapse sidebar" id="sidebar-collapse">
  <div class="user-info ">

    <%= link_to '質問する', new_question_path, class:"btn btn-primary btn-lg" %>

    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'ホーム', root_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'プロフィール', user_path(current_user) ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ユーザー一覧', users_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'メッセージ', '#', class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '質問一覧', '#', class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '検索', '#', class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', logout_path, method: :delete, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>