<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <%= link_to "Grandmatch", root_path, class:"navbar-brand" %>
    <form class="form-inline ml-auto my-2 my-lg-0 d-lg-block d-none d-md-block">
        <input class="form-control mr-sm-2" type="search" placeholder="質問を探す" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
<div class="d-md-none p-0 header navbar navbar-expand-md navbar-dark bg-dark">
<% #ヘッダーアイコン群 %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to root_path, class:"nav-link" do %>
        <span class="fas fa-home"></span>
      <% end %>
    </li>
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to current_user, class:"nav-link" do %>
          <span class="far fa-address-card"></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class:"nav-link" do %>
          <span class="fas fa-user-friends"></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#', class:"nav-link" do %>
          <span class="far fa-comments"></span>
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="collapse" data-target="#collapse">
        <span class="fas fa-cog"></span>
      </a>
    </li>

  </ul>
<% #ドロップダウンメニュー群 %>
      <div class="navbar-collapse collapse d-md-none" id="collapse">
        <ul class="navbar-nav mr-auto display-md-none">
            <li class="nav-item">
                <%= link_to "ホーム", root_path, class:"nav-link" %>
            </li>
            <% if logged_in? %>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                ユーザー設定
                </a>

                <div class="dropdown-menu">
                    <%= link_to "ユーザー一覧", users_path, class:"dropdown-item" %>
                    <%= link_to "プロフィール", current_user, class:"dropdown-item" %>
                    <%= link_to "プロフィールを編集", edit_user_path(current_user) , class:"dropdown-item" %>
                    <%= link_to "ログアウト", logout_path , method: :delete,  class:"dropdown-item" %>
                </div>

            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to "ログイン", login_path, class:"nav-link" %>
            </li>
            <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="質問を探す" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
        </form>
    </div>
</div>
</header>